$breakpoints: (
  narrow: 400px,
  mid: 700px,
  wide: 1000px
);

@value narrowBp only screen and (min-width: #{map-get($breakpoints, narrow)});
@value midBp only screen and (min-width: #{map-get($breakpoints, mid)});
@value wideBp only screen and (min-width: #{map-get($breakpoints, wide)});
