/**
 * CoinList
 * ----------------
 */

@value midBp from "./_mediaQueries.scss";
@value headerHeight from "./Header.module.scss";
@value menuWidth from "./Menu.module.scss";
@value totalsHeight from "./Totals.module.scss";

.coinsListWrapper {
  margin-top: calc(headerHeight + totalsHeight);
  padding: 20px;
  transition: margin-left 350ms;
}

.coinsListWrapper__spacingLeft {
  @media midBp {
    margin-left: menuWidth;
  }
}

.coinsList_fieldset {
  border: none;
  padding: 0;
}

.coinList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
