/**
 * Loading Indicator
 * ----------------
 */

@import './_colors.scss';

.loading {
  background-color: $grey;
  border: solid 5px $grey_lightest;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 20px $grey_dark;
  color: $white;
  margin: 0;
  padding: 10px;
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(75px, -75px);
  width: 150px;
  z-index: 99;
}
